.chatList
{
 padding: 1rem;
  height: 100vh; /* Adjust the height as needed */
  overflow-y: scroll ;
  border: 1px solid #ccc;
}
.chatList img {
  max-width: 50px;
}

.chatList::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */

}

.chatList::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

.chatList::-webkit-scrollbar-thumb:hover {
  background: #555;
}
